<html>
    <head>
        <title>My blog Yaaay</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Leipzig</a></h1>
        </div>
        <div>
        {% for post in posts %}
            <div>
                <p>published: {{ post.published_date }}</p>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}
        <div>
            <p>published: 20.10.2019, 16:00</p>
            <h2><a href="">My first post!!!</a></h2>
            <p> It is so nice.</p>
        </div>
        <div>
            <p> published: 20.10.2019, 16:05</p>
            <h2><a href="">My second PoSt...</a></h2>
        </div>
    </body>
</html>